{% extends 'base.html' %}
{% block base %}
    <h1>
        Histórico de Produtos Enviados 
    </h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Post Id</th>
                <th>Request At</th>
                <th>Responsad At</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.product_post_id}}</td>
                    <td>{{item.request_at}}</td>
                    <td>{{item.responsad_at}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}